@media screen and (min-width: 641px){
	body{
		background-color: black;
		font-family: 'Amethysta', serif;
		font-weight: 900;
	}
	img{
		width: 120px;
		height: 120px;
	}
	#content{
		display: table;
		width: 100%;
	}
	#text{
		padding: 10px;
		background-color: #310D01;
		border-style: solid;
		border-color: #521F00;
		border-width: 2px;
		display: table-cell;
		vertical-align: middle;
		position:absolute;
		top: 35%;
		height: auto;
		width: 97%;
		text-align: center;
		font-size: 64px;
		color: #FF7900;
	}
}